In [1]:
import numpy as np
import time
import pandas as pd
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import gzip

df = pd.read_table("SNV/MANIFEST.txt")
fileslist = []
header = []
for file_name in df[0:33]["filename"]:
    fileslist.append(file_name)
with gzip.open("SNV/"+fileslist[0],"rb") as f:
    print(f)
    i = 0
    while i <=4:
        header.append(f.readline())
        i += 1
    mf = pd.read_csv(f, delimiter = "\t")
    table = mf[0:]

<gzip _io.BufferedReader name='SNV/02747363-f04a-4ba6-a079-fe4f87853788/TCGA.UCS.mutect.02747363-f04a-4ba6-a079-fe4f87853788.DR-10.0.somatic.maf.gz' 0x1f485db5bb0>

In [2]:
#Remove columns with all row values NaN
new_table = table.dropna(axis=1,how="all") 
print(new_table.isna().any().sum())
new_table.info(verbose=True)

54
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Data columns (total 102 columns):
 #    Column                       Dtype
---   ------                       -----
 0    Hugo_Symbol                  object
 1    Entrez_Gene_Id               int64
 2    Center                       object
 3    NCBI_Build                   object
 4    Chromosome                   object
 5    Start_Position               int64
 6    End_Position                 int64
 7    Strand                       object
 8    Variant_Classification       object
 9    Variant_Type                 object
 10   Reference_Allele             object
 11   Tumor_Seq_Allele1            object
 12   Tumor_Seq_Allele2            object
 13   dbSNP_RS                     object
 14   dbSNP_Val_Status             object
 15   Tumor_Sample_Barcode         object
 16   Matched_Norm_Sample_Barcode  object
 17   Tumor_Validation_Allele1     object
 18   Tumor_Validation_Allele2     object
 19   Mutation_Status              object
 20   Validation_Method            object
 21   Sequencer                    object
 22   Tumor_Sample_UUID            object
 23   Matched_Norm_Sample_UUID     object
 24   HGVSc                        object
 25   HGVSp                        object
 26   HGVSp_Short                  object
 27   Transcript_ID                object
 28   Exon_Number                  object
 29   t_depth                      int64
 30   t_ref_count                  int64
 31   t_alt_count                  int64
 32   n_depth                      int64
 33   all_effects                  object
 34   Allele                       object
 35   Gene                         object
 36   Feature                      object
 37   Feature_type                 object
 38   One_Consequence              object
 39   Consequence                  object
 40   cDNA_position                object
 41   CDS_position                 object
 42   Protein_position             object
 43   Amino_acids                  object
 44   Codons                       object
 45   Existing_variation           object
 46   ALLELE_NUM                   int64
 47   DISTANCE                     float64
 48   TRANSCRIPT_STRAND            int64
 49   SYMBOL                       object
 50   SYMBOL_SOURCE                object
 51   HGNC_ID                      object
 52   BIOTYPE                      object
 53   CANONICAL                    object
 54   CCDS                         object
 55   ENSP                         object
 56   SWISSPROT                    object
 57   TREMBL                       object
 58   UNIPARC                      object
 59   RefSeq                       object
 60   SIFT                         object
 61   PolyPhen                     object
 62   EXON                         object
 63   INTRON                       object
 64   DOMAINS                      object
 65   GMAF                         float64
 66   AFR_MAF                      float64
 67   AMR_MAF                      float64
 68   EAS_MAF                      float64
 69   EUR_MAF                      float64
 70   SAS_MAF                      float64
 71   AA_MAF                       float64
 72   EA_MAF                       float64
 73   CLIN_SIG                     object
 74   SOMATIC                      object
 75   PUBMED                       object
 76   IMPACT                       object
 77   PICK                         float64
 78   VARIANT_CLASS                object
 79   TSL                          float64
 80   HGVS_OFFSET                  float64
 81   PHENO                        object
 82   MINIMISED                    int64
 83   ExAC_AF                      float64
 84   ExAC_AF_Adj                  float64
 85   ExAC_AF_AFR                  float64
 86   ExAC_AF_AMR                  float64
 87   ExAC_AF_EAS                  float64
 88   ExAC_AF_FIN                  float64
 89   ExAC_AF_NFE                  float64
 90   ExAC_AF_OTH                  float64
 91   ExAC_AF_SAS                  float64
 92   FILTER                       object
 93   CONTEXT                      object
 94   src_vcf_id                   object
 95   tumor_bam_uuid               object
 96   normal_bam_uuid              object
 97   case_id                      object
 98   GDC_FILTER                   object
 99   COSMIC                       object
 100  MC3_Overlap                  bool
 101  GDC_Validation_Status        object
dtypes: bool(1), float64(21), int64(10), object(70)
memory usage: 8.1+ MB

In [3]:
#Handle features and genes_id#

#Retrieve Y (genes_id) and X (all other features)
Y = new_table.loc[:,["Hugo_Symbol"]].values
length = len(Y)

#Retrive features
X = new_table.drop(["Hugo_Symbol"], axis = 1)
thresh = length*0.90
X.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Data columns (total 101 columns):
 #    Column                       Dtype
---   ------                       -----
 0    Entrez_Gene_Id               int64
 1    Center                       object
 2    NCBI_Build                   object
 3    Chromosome                   object
 4    Start_Position               int64
 5    End_Position                 int64
 6    Strand                       object
 7    Variant_Classification       object
 8    Variant_Type                 object
 9    Reference_Allele             object
 10   Tumor_Seq_Allele1            object
 11   Tumor_Seq_Allele2            object
 12   dbSNP_RS                     object
 13   dbSNP_Val_Status             object
 14   Tumor_Sample_Barcode         object
 15   Matched_Norm_Sample_Barcode  object
 16   Tumor_Validation_Allele1     object
 17   Tumor_Validation_Allele2     object
 18   Mutation_Status              object
 19   Validation_Method            object
 20   Sequencer                    object
 21   Tumor_Sample_UUID            object
 22   Matched_Norm_Sample_UUID     object
 23   HGVSc                        object
 24   HGVSp                        object
 25   HGVSp_Short                  object
 26   Transcript_ID                object
 27   Exon_Number                  object
 28   t_depth                      int64
 29   t_ref_count                  int64
 30   t_alt_count                  int64
 31   n_depth                      int64
 32   all_effects                  object
 33   Allele                       object
 34   Gene                         object
 35   Feature                      object
 36   Feature_type                 object
 37   One_Consequence              object
 38   Consequence                  object
 39   cDNA_position                object
 40   CDS_position                 object
 41   Protein_position             object
 42   Amino_acids                  object
 43   Codons                       object
 44   Existing_variation           object
 45   ALLELE_NUM                   int64
 46   DISTANCE                     float64
 47   TRANSCRIPT_STRAND            int64
 48   SYMBOL                       object
 49   SYMBOL_SOURCE                object
 50   HGNC_ID                      object
 51   BIOTYPE                      object
 52   CANONICAL                    object
 53   CCDS                         object
 54   ENSP                         object
 55   SWISSPROT                    object
 56   TREMBL                       object
 57   UNIPARC                      object
 58   RefSeq                       object
 59   SIFT                         object
 60   PolyPhen                     object
 61   EXON                         object
 62   INTRON                       object
 63   DOMAINS                      object
 64   GMAF                         float64
 65   AFR_MAF                      float64
 66   AMR_MAF                      float64
 67   EAS_MAF                      float64
 68   EUR_MAF                      float64
 69   SAS_MAF                      float64
 70   AA_MAF                       float64
 71   EA_MAF                       float64
 72   CLIN_SIG                     object
 73   SOMATIC                      object
 74   PUBMED                       object
 75   IMPACT                       object
 76   PICK                         float64
 77   VARIANT_CLASS                object
 78   TSL                          float64
 79   HGVS_OFFSET                  float64
 80   PHENO                        object
 81   MINIMISED                    int64
 82   ExAC_AF                      float64
 83   ExAC_AF_Adj                  float64
 84   ExAC_AF_AFR                  float64
 85   ExAC_AF_AMR                  float64
 86   ExAC_AF_EAS                  float64
 87   ExAC_AF_FIN                  float64
 88   ExAC_AF_NFE                  float64
 89   ExAC_AF_OTH                  float64
 90   ExAC_AF_SAS                  float64
 91   FILTER                       object
 92   CONTEXT                      object
 93   src_vcf_id                   object
 94   tumor_bam_uuid               object
 95   normal_bam_uuid              object
 96   case_id                      object
 97   GDC_FILTER                   object
 98   COSMIC                       object
 99   MC3_Overlap                  bool
 100  GDC_Validation_Status        object
dtypes: bool(1), float64(21), int64(10), object(69)
memory usage: 8.0+ MB

In [4]:
#Handling NaN in cloumns below treshold 0.90(90%)#
X  = X.dropna(axis=1,thresh=int(thresh))
#X.isna().sum().sort_values(ascending=False)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Data columns (total 58 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Entrez_Gene_Id               10449 non-null  int64
 1   Center                       10449 non-null  object
 2   NCBI_Build                   10449 non-null  object
 3   Chromosome                   10449 non-null  object
 4   Start_Position               10449 non-null  int64
 5   End_Position                 10449 non-null  int64
 6   Strand                       10449 non-null  object
 7   Variant_Classification       10449 non-null  object
 8   Variant_Type                 10449 non-null  object
 9   Reference_Allele             10449 non-null  object
 10  Tumor_Seq_Allele1            10449 non-null  object
 11  Tumor_Seq_Allele2            10449 non-null  object
 12  dbSNP_RS                     9507 non-null   object
 13  Tumor_Sample_Barcode         10449 non-null  object
 14  Matched_Norm_Sample_Barcode  10449 non-null  object
 15  Mutation_Status              10449 non-null  object
 16  Sequencer                    10449 non-null  object
 17  Tumor_Sample_UUID            10449 non-null  object
 18  Matched_Norm_Sample_UUID     10449 non-null  object
 19  HGVSc                        10364 non-null  object
 20  Transcript_ID                10449 non-null  object
 21  Exon_Number                  9828 non-null   object
 22  t_depth                      10449 non-null  int64
 23  t_ref_count                  10449 non-null  int64
 24  t_alt_count                  10449 non-null  int64
 25  n_depth                      10449 non-null  int64
 26  all_effects                  10449 non-null  object
 27  Allele                       10449 non-null  object
 28  Gene                         10449 non-null  object
 29  Feature                      10449 non-null  object
 30  Feature_type                 10449 non-null  object
 31  One_Consequence              10449 non-null  object
 32  Consequence                  10449 non-null  object
 33  cDNA_position                10449 non-null  object
 34  CDS_position                 10247 non-null  object
 35  Protein_position             10247 non-null  object
 36  ALLELE_NUM                   10449 non-null  int64
 37  TRANSCRIPT_STRAND            10449 non-null  int64
 38  SYMBOL                       10449 non-null  object
 39  SYMBOL_SOURCE                10449 non-null  object
 40  HGNC_ID                      10369 non-null  object
 41  BIOTYPE                      10449 non-null  object
 42  CCDS                         9760 non-null   object
 43  ENSP                         10247 non-null  object
 44  SWISSPROT                    9934 non-null   object
 45  EXON                         9828 non-null   object
 46  IMPACT                       10449 non-null  object
 47  VARIANT_CLASS                10449 non-null  object
 48  TSL                          9823 non-null   float64
 49  MINIMISED                    10449 non-null  int64
 50  FILTER                       10449 non-null  object
 51  CONTEXT                      10449 non-null  object
 52  src_vcf_id                   10449 non-null  object
 53  tumor_bam_uuid               10449 non-null  object
 54  normal_bam_uuid              10449 non-null  object
 55  case_id                      10449 non-null  object
 56  MC3_Overlap                  10449 non-null  bool
 57  GDC_Validation_Status        10449 non-null  object
dtypes: bool(1), float64(1), int64(10), object(46)
memory usage: 4.6+ MB

In [14]:
#Fill NaN values with interpolation method pad-by using existing values#
X = X.interpolate(method="pad")
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Columns: 119508 entries, Entrez_Gene_Id to GDC_Validation_Status_Valid
dtypes: bool(1), float64(1), int64(10), uint8(119496)
memory usage: 1.2 GB

In [13]:
obj_df = X.select_dtypes(include=['object'])
X=pd.get_dummies(data=X,columns=obj_df.columns)
X.info()
X

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Columns: 119508 entries, Entrez_Gene_Id to GDC_Validation_Status_Valid
dtypes: bool(1), float64(1), int64(10), uint8(119496)
memory usage: 1.2 GB

,Entrez_Gene_Id,Start_Position,End_Position,t_depth,t_ref_count,t_alt_count,n_depth,ALLELE_NUM,TRANSCRIPT_STRAND,TSL,...,case_id_d9952e44-b573-4854-893e-b3bbc5287f2f,case_id_ddfdd05e-058c-4877-b389-724a6c101353,case_id_ebb834c6-374e-4077-a4ce-c74a850be358,case_id_ee6083aa-9453-44ff-8cc5-79b71fea289d,case_id_eec002c4-7602-4179-8eb3-2b0508d5ee1c,case_id_f2cc142b-9fc0-44d9-9ae3-558b4eace375,case_id_f98c183e-aaa1-40c4-83e7-c248cc3adb55,case_id_ffedc8be-1056-4205-b9d9-99b5bdb872db,GDC_Validation_Status_Unknown,GDC_Validation_Status_Valid
0,6536,44008472,44008472,103,65,38,132,1,-1,1.0,...,0,0,0,0,0,0,0,0,0,1
1,1263,44803280,44803280,84,51,33,112,1,1,1.0,...,0,0,0,0,0,0,0,0,0,1
2,199920,56740711,56740711,22,15,7,23,1,-1,1.0,...,0,0,0,0,0,0,0,0,1,0
3,2629,155233116,155233116,46,29,17,96,1,-1,1.0,...,0,0,0,0,0,0,0,0,1,0
4,83417,157581530,157581530,60,33,27,79,1,-1,1.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10444,6247,18642139,18642139,102,48,54,119,1,-1,1.0,...,0,0,0,0,0,0,0,0,1,0
10445,7317,47201524,47201524,43,32,11,47,1,1,1.0,...,0,0,0,0,0,0,0,0,1,0
10446,441531,77969434,77969434,205,112,93,216,1,-1,1.0,...,0,0,0,0,0,0,0,0,1,0
10447,9737,102657224,102657224,199,97,102,186,1,1,2.0,...,0,0,0,0,0,0,0,0,1,0
10448,114824,152991432,152991432,161,104,57,170,1,-1,1.0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
Y = LabelEncoder().fit_transform(Y.ravel())
Y

array([5426, 4497,  734, ..., 4374, 2387, 4526])

In [17]:
X = StandardScaler().fit_transform(X)
X

array([[-0.08414803, -0.61689314, -0.61689315, ..., -0.07599565,
        -1.72511663,  1.72511663],
       [-0.08483798, -0.60296662, -0.60296662, ..., -0.07599565,
        -1.72511663,  1.72511663],
       [-0.0588445 , -0.39380041, -0.39380041, ..., -0.07599565,
         0.57967095, -0.57967095],
       ...,
       [-0.02723065, -0.02183333, -0.02183333, ..., -0.07599565,
         0.57967095, -0.57967095],
       [-0.08372919,  0.4107431 ,  0.4107431 , ..., -0.07599565,
         0.57967095, -0.57967095],
       [-0.06997897,  1.29269292,  1.29269292, ..., -0.07599565,
         0.57967095, -0.57967095]])