In [1]:
import numpy as np
import time
import pandas as pd
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import gzip

df = pd.read_table("SNV/MANIFEST.txt")
filelist = []
header = []
for file_name in df[0:33]["filename"]:
    filelist.append(file_name)

#for m in filelist:
 #   print(m)
with gzip.open("SNV/"+filelist[0],"rb") as f:
    print(f)
    i = 0
    while i <=4:
        header.append(f.readline())
        i += 1
    mf = pd.read_csv(f, delimiter = "\t")
    table = mf

<gzip _io.BufferedReader name='SNV/02747363-f04a-4ba6-a079-fe4f87853788/TCGA.UCS.mutect.02747363-f04a-4ba6-a079-fe4f87853788.DR-10.0.somatic.maf.gz' 0x1fd8d78b4f0>

In [2]:
#header

In [3]:
table.isna().sum().sum()

512307

In [4]:
table.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Data columns (total 120 columns):
 #    Column                         Non-Null Count  Dtype
---   ------                         --------------  -----
 0    Hugo_Symbol                    10449 non-null  object
 1    Entrez_Gene_Id                 10449 non-null  int64
 2    Center                         10449 non-null  object
 3    NCBI_Build                     10449 non-null  object
 4    Chromosome                     10449 non-null  object
 5    Start_Position                 10449 non-null  int64
 6    End_Position                   10449 non-null  int64
 7    Strand                         10449 non-null  object
 8    Variant_Classification         10449 non-null  object
 9    Variant_Type                   10449 non-null  object
 10   Reference_Allele               10449 non-null  object
 11   Tumor_Seq_Allele1              10449 non-null  object
 12   Tumor_Seq_Allele2              10449 non-null  object
 13   dbSNP_RS                       9507 non-null   object
 14   dbSNP_Val_Status               1777 non-null   object
 15   Tumor_Sample_Barcode           10449 non-null  object
 16   Matched_Norm_Sample_Barcode    10449 non-null  object
 17   Match_Norm_Seq_Allele1         0 non-null      float64
 18   Match_Norm_Seq_Allele2         0 non-null      float64
 19   Tumor_Validation_Allele1       2628 non-null   object
 20   Tumor_Validation_Allele2       2628 non-null   object
 21   Match_Norm_Validation_Allele1  0 non-null      float64
 22   Match_Norm_Validation_Allele2  0 non-null      float64
 23   Verification_Status            0 non-null      float64
 24   Validation_Status              0 non-null      float64
 25   Mutation_Status                10449 non-null  object
 26   Sequencing_Phase               0 non-null      float64
 27   Sequence_Source                0 non-null      float64
 28   Validation_Method              2628 non-null   object
 29   Score                          0 non-null      float64
 30   BAM_File                       0 non-null      float64
 31   Sequencer                      10449 non-null  object
 32   Tumor_Sample_UUID              10449 non-null  object
 33   Matched_Norm_Sample_UUID       10449 non-null  object
 34   HGVSc                          10364 non-null  object
 35   HGVSp                          9002 non-null   object
 36   HGVSp_Short                    9134 non-null   object
 37   Transcript_ID                  10449 non-null  object
 38   Exon_Number                    9828 non-null   object
 39   t_depth                        10449 non-null  int64
 40   t_ref_count                    10449 non-null  int64
 41   t_alt_count                    10449 non-null  int64
 42   n_depth                        10449 non-null  int64
 43   n_ref_count                    0 non-null      float64
 44   n_alt_count                    0 non-null      float64
 45   all_effects                    10449 non-null  object
 46   Allele                         10449 non-null  object
 47   Gene                           10449 non-null  object
 48   Feature                        10449 non-null  object
 49   Feature_type                   10449 non-null  object
 50   One_Consequence                10449 non-null  object
 51   Consequence                    10449 non-null  object
 52   cDNA_position                  10449 non-null  object
 53   CDS_position                   10247 non-null  object
 54   Protein_position               10247 non-null  object
 55   Amino_acids                    9003 non-null   object
 56   Codons                         9003 non-null   object
 57   Existing_variation             2409 non-null   object
 58   ALLELE_NUM                     10449 non-null  int64
 59   DISTANCE                       85 non-null     float64
 60   TRANSCRIPT_STRAND              10449 non-null  int64
 61   SYMBOL                         10449 non-null  object
 62   SYMBOL_SOURCE                  10449 non-null  object
 63   HGNC_ID                        10369 non-null  object
 64   BIOTYPE                        10449 non-null  object
 65   CANONICAL                      8263 non-null   object
 66   CCDS                           9760 non-null   object
 67   ENSP                           10247 non-null  object
 68   SWISSPROT                      9934 non-null   object
 69   TREMBL                         1748 non-null   object
 70   UNIPARC                        9135 non-null   object
 71   RefSeq                         9372 non-null   object
 72   SIFT                           5594 non-null   object
 73   PolyPhen                       5988 non-null   object
 74   EXON                           9828 non-null   object
 75   INTRON                         541 non-null    object
 76   DOMAINS                        6543 non-null   object
 77   GMAF                           442 non-null    float64
 78   AFR_MAF                        479 non-null    float64
 79   AMR_MAF                        479 non-null    float64
 80   ASN_MAF                        0 non-null      float64
 81   EAS_MAF                        479 non-null    float64
 82   EUR_MAF                        479 non-null    float64
 83   SAS_MAF                        479 non-null    float64
 84   AA_MAF                         601 non-null    float64
 85   EA_MAF                         601 non-null    float64
 86   CLIN_SIG                       100 non-null    object
 87   SOMATIC                        10 non-null     object
 88   PUBMED                         33 non-null     object
 89   MOTIF_NAME                     0 non-null      float64
 90   MOTIF_POS                      0 non-null      float64
 91   HIGH_INF_POS                   0 non-null      float64
 92   MOTIF_SCORE_CHANGE             0 non-null      float64
 93   IMPACT                         10449 non-null  object
 94   PICK                           7916 non-null   float64
 95   VARIANT_CLASS                  10449 non-null  object
 96   TSL                            9823 non-null   float64
 97   HGVS_OFFSET                    225 non-null    float64
 98   PHENO                          102 non-null    object
 99   MINIMISED                      10449 non-null  int64
 100  ExAC_AF                        2137 non-null   float64
 101  ExAC_AF_Adj                    2137 non-null   float64
 102  ExAC_AF_AFR                    2137 non-null   float64
 103  ExAC_AF_AMR                    2137 non-null   float64
 104  ExAC_AF_EAS                    2137 non-null   float64
 105  ExAC_AF_FIN                    2137 non-null   float64
 106  ExAC_AF_NFE                    2137 non-null   float64
 107  ExAC_AF_OTH                    2137 non-null   float64
 108  ExAC_AF_SAS                    2137 non-null   float64
 109  GENE_PHENO                     0 non-null      float64
 110  FILTER                         10449 non-null  object
 111  CONTEXT                        10449 non-null  object
 112  src_vcf_id                     10449 non-null  object
 113  tumor_bam_uuid                 10449 non-null  object
 114  normal_bam_uuid                10449 non-null  object
 115  case_id                        10449 non-null  object
 116  GDC_FILTER                     866 non-null    object
 117  COSMIC                         1862 non-null   object
 118  MC3_Overlap                    10449 non-null  bool
 119  GDC_Validation_Status          10449 non-null  object
dtypes: bool(1), float64(39), int64(10), object(70)
memory usage: 9.5+ MB

In [5]:
m = table.isna().sum().tolist()
m.sort(reverse =True)
print(m)

[10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10449, 10439, 10416, 10364, 10349, 10347, 10224, 10007, 9970, 9970, 9970, 9970, 9970, 9908, 9848, 9848, 9583, 8701, 8672, 8587, 8312, 8312, 8312, 8312, 8312, 8312, 8312, 8312, 8312, 8040, 7821, 7821, 7821, 4855, 4461, 3906, 2533, 2186, 1447, 1446, 1446, 1315, 1314, 1077, 942, 689, 626, 621, 621, 515, 202, 202, 202, 85, 80, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [6]:
Hugo_Symbol = table.loc[:,["Hugo_Symbol"]]
Y = table.loc[:,["Entrez_Gene_Id"]].values #independent variables
X = table.drop(["Hugo_Symbol","Entrez_Gene_Id"], axis = 1) #dependent variables

In [7]:
Y.tolist()
Y

array([[  6536],
       [  1263],
       [199920],
       ...,
       [441531],
       [  9737],
       [114824]], dtype=int64)

In [8]:
X.values

array([['BI', 'GRCh38', 'chr1', ..., 'COSM6063461;COSM6063462', True,
        'Valid'],
       ['BI', 'GRCh38', 'chr1', ..., nan, True, 'Valid'],
       ['BI', 'GRCh38', 'chr1', ..., nan, True, 'Unknown'],
       ...,
       ['BI', 'GRCh38', 'chrX', ..., nan, True, 'Unknown'],
       ['BI', 'GRCh38', 'chrX', ..., nan, True, 'Unknown'],
       ['BI', 'GRCh38', 'chrX', ..., nan, True, 'Unknown']], dtype=object)

In [9]:
#Remove columns with all row values NaN
X.dropna(axis=1,how="all", inplace = True)
m = X.isna().sum().tolist()
m.sort(reverse =True)
print(m)

[10439, 10416, 10364, 10349, 10347, 10224, 10007, 9970, 9970, 9970, 9970, 9970, 9908, 9848, 9848, 9583, 8701, 8672, 8587, 8312, 8312, 8312, 8312, 8312, 8312, 8312, 8312, 8312, 8040, 7821, 7821, 7821, 4855, 4461, 3906, 2533, 2186, 1447, 1446, 1446, 1315, 1314, 1077, 942, 689, 626, 621, 621, 515, 202, 202, 202, 85, 80, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [10]:
#missing_ratio = []
#for i in m:
#    value = (i/10449)*100
#    missing_ratio.append(value)
#missing_ratio

In [12]:
#Handling NaN in float type cloumns that are below treshold 0.70(70%)#
def delete_nan_values(X):
    length = len(Y)
    thresh = length*0.70
    m = X[X.columns[X.dtypes == float]]
    m = m.dropna(axis=1,thresh=int(thresh)).fillna(m.mean())
    X = X.drop(X.columns[X.dtypes == float], axis=1)
    X = pd.concat([X,m], axis=1)
    return X

In [13]:
#Handling categorical values
def handle_categ_values(X):
    labelencoder_x = LabelEncoder()
    m = X.columns[X.dtypes == object]
    for n in m:
        X[n] = labelencoder_x.fit_transform(X[n])
    m = X.columns[X.dtypes == bool]
    for n in m:
        X[n] = labelencoder_x.fit_transform(X[n])    
    return X

In [14]:
X=delete_nan_values(X)
X=handle_categ_values(X)
X

,Center,NCBI_Build,Chromosome,Start_Position,End_Position,Strand,Variant_Classification,Variant_Type,Reference_Allele,Tumor_Seq_Allele1,...,src_vcf_id,tumor_bam_uuid,normal_bam_uuid,case_id,GDC_FILTER,COSMIC,MC3_Overlap,GDC_Validation_Status,PICK,TSL
0,0,0,0,44008472,44008472,0,13,2,64,64,...,31,7,20,1,8,1620,1,1,1.0,1.000000
1,0,0,0,44803280,44803280,0,9,2,64,64,...,31,7,20,1,8,1825,1,1,1.0,1.000000
2,0,0,0,56740711,56740711,0,13,2,31,31,...,31,7,20,1,5,1825,1,0,1.0,1.000000
3,0,0,0,155233116,155233116,0,0,2,31,31,...,31,7,20,1,8,1825,0,0,1.0,1.000000
4,0,0,0,157581530,157581530,0,15,2,31,31,...,31,7,20,1,0,1825,1,0,1.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10444,0,0,22,18642139,18642139,0,13,2,31,31,...,5,26,45,5,8,1825,1,0,1.0,1.000000
10445,0,0,22,47201524,47201524,0,9,2,83,83,...,5,26,45,5,8,1825,1,0,1.0,1.000000
10446,0,0,22,77969434,77969434,0,9,2,83,83,...,5,26,45,5,8,1825,1,0,1.0,1.543215
10447,0,0,22,102657224,102657224,0,9,2,31,31,...,5,26,45,5,8,1825,1,0,1.0,2.000000
10448,0,0,22,152991432,152991432,0,9,2,1,1,...,5,26,45,5,8,1825,1,0,1.0,1.000000

In [15]:
X.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Data columns (total 81 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Center                       10449 non-null  int32
 1   NCBI_Build                   10449 non-null  int32
 2   Chromosome                   10449 non-null  int32
 3   Start_Position               10449 non-null  int64
 4   End_Position                 10449 non-null  int64
 5   Strand                       10449 non-null  int32
 6   Variant_Classification       10449 non-null  int32
 7   Variant_Type                 10449 non-null  int32
 8   Reference_Allele             10449 non-null  int32
 9   Tumor_Seq_Allele1            10449 non-null  int32
 10  Tumor_Seq_Allele2            10449 non-null  int32
 11  dbSNP_RS                     10449 non-null  int32
 12  dbSNP_Val_Status             10449 non-null  int32
 13  Tumor_Sample_Barcode         10449 non-null  int32
 14  Matched_Norm_Sample_Barcode  10449 non-null  int32
 15  Tumor_Validation_Allele1     10449 non-null  int32
 16  Tumor_Validation_Allele2     10449 non-null  int32
 17  Mutation_Status              10449 non-null  int32
 18  Validation_Method            10449 non-null  int32
 19  Sequencer                    10449 non-null  int32
 20  Tumor_Sample_UUID            10449 non-null  int32
 21  Matched_Norm_Sample_UUID     10449 non-null  int32
 22  HGVSc                        10449 non-null  int32
 23  HGVSp                        10449 non-null  int32
 24  HGVSp_Short                  10449 non-null  int32
 25  Transcript_ID                10449 non-null  int32
 26  Exon_Number                  10449 non-null  int32
 27  t_depth                      10449 non-null  int64
 28  t_ref_count                  10449 non-null  int64
 29  t_alt_count                  10449 non-null  int64
 30  n_depth                      10449 non-null  int64
 31  all_effects                  10449 non-null  int32
 32  Allele                       10449 non-null  int32
 33  Gene                         10449 non-null  int32
 34  Feature                      10449 non-null  int32
 35  Feature_type                 10449 non-null  int32
 36  One_Consequence              10449 non-null  int32
 37  Consequence                  10449 non-null  int32
 38  cDNA_position                10449 non-null  int32
 39  CDS_position                 10449 non-null  int32
 40  Protein_position             10449 non-null  int32
 41  Amino_acids                  10449 non-null  int32
 42  Codons                       10449 non-null  int32
 43  Existing_variation           10449 non-null  int32
 44  ALLELE_NUM                   10449 non-null  int64
 45  TRANSCRIPT_STRAND            10449 non-null  int64
 46  SYMBOL                       10449 non-null  int32
 47  SYMBOL_SOURCE                10449 non-null  int32
 48  HGNC_ID                      10449 non-null  int32
 49  BIOTYPE                      10449 non-null  int32
 50  CANONICAL                    10449 non-null  int32
 51  CCDS                         10449 non-null  int32
 52  ENSP                         10449 non-null  int32
 53  SWISSPROT                    10449 non-null  int32
 54  TREMBL                       10449 non-null  int32
 55  UNIPARC                      10449 non-null  int32
 56  RefSeq                       10449 non-null  int32
 57  SIFT                         10449 non-null  int32
 58  PolyPhen                     10449 non-null  int32
 59  EXON                         10449 non-null  int32
 60  INTRON                       10449 non-null  int32
 61  DOMAINS                      10449 non-null  int32
 62  CLIN_SIG                     10449 non-null  int32
 63  SOMATIC                      10449 non-null  int32
 64  PUBMED                       10449 non-null  int32
 65  IMPACT                       10449 non-null  int32
 66  VARIANT_CLASS                10449 non-null  int32
 67  PHENO                        10449 non-null  int32
 68  MINIMISED                    10449 non-null  int64
 69  FILTER                       10449 non-null  int32
 70  CONTEXT                      10449 non-null  int32
 71  src_vcf_id                   10449 non-null  int32
 72  tumor_bam_uuid               10449 non-null  int32
 73  normal_bam_uuid              10449 non-null  int32
 74  case_id                      10449 non-null  int32
 75  GDC_FILTER                   10449 non-null  int32
 76  COSMIC                       10449 non-null  int32
 77  MC3_Overlap                  10449 non-null  int64
 78  GDC_Validation_Status        10449 non-null  int32
 79  PICK                         10449 non-null  float64
 80  TSL                          10449 non-null  float64
dtypes: float64(2), int32(69), int64(10)
memory usage: 3.7 MB

In [16]:
m = X.isna().sum().tolist()
m.sort(reverse =True)
print(m)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [17]:
labelencoder_y= LabelEncoder()  
Y = labelencoder_y.fit_transform(Y)
Y

C:\Users\anjel\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([1695,  344, 6058, ..., 6697, 2491, 5458], dtype=int64)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X.values, Y, test_size = 0.30,random_state=42)

In [20]:
X_train

array([[ 0.,  0.,  7., ...,  0.,  1.,  1.],
       [ 0.,  0.,  7., ...,  0.,  1.,  5.],
       [ 0.,  0., 19., ...,  1.,  1.,  1.],
       ...,
       [ 0.,  0., 15., ...,  0.,  1.,  1.],
       [ 0.,  0., 11., ...,  0.,  1.,  1.],
       [ 0.,  0.,  2., ...,  0.,  1.,  1.]])

In [25]:
st_x= StandardScaler()
X_train= st_x.fit_transform(X_train)

In [26]:
X_train

array([[ 0.        ,  0.        , -0.51498828, ..., -0.58229712,
         0.        , -0.43041155],
       [ 0.        ,  0.        , -0.51498828, ..., -0.58229712,
         0.        ,  2.80988519],
       [ 0.        ,  0.        ,  1.15375171, ...,  1.71733633,
         0.        , -0.43041155],
       ...,
       [ 0.        ,  0.        ,  0.59750504, ..., -0.58229712,
         0.        , -0.43041155],
       [ 0.        ,  0.        ,  0.04125838, ..., -0.58229712,
         0.        , -0.43041155],
       [ 0.        ,  0.        , -1.21029661, ..., -0.58229712,
         0.        , -0.43041155]])