In [1]:
import numpy as np
import time
import pandas as pd
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import gzip

df = pd.read_table("SNV/MANIFEST.txt")
fileslist = []
header = []
for file_name in df[0:33]["filename"]:
    fileslist.append(file_name)
with gzip.open("SNV/"+fileslist[0],"rb") as f:
    print(f)
    i = 0
    while i <=4:
        header.append(f.readline())
        i += 1
    mf = pd.read_csv(f, delimiter = "\t")
    table = mf[0:]

<gzip _io.BufferedReader name='SNV/02747363-f04a-4ba6-a079-fe4f87853788/TCGA.UCS.mutect.02747363-f04a-4ba6-a079-fe4f87853788.DR-10.0.somatic.maf.gz' 0x7fbe0268bb20>

In [2]:
print(table.isna().any().sum())
table.info()

72
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Columns: 120 entries, Hugo_Symbol to GDC_Validation_Status
dtypes: bool(1), float64(39), int64(10), object(70)
memory usage: 9.5+ MB

In [3]:
new_table = table.dropna(axis=1,how="all") #remove columns with all row values NaN
print(new_table.isna().any().sum())
new_table.info()

54
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Columns: 102 entries, Hugo_Symbol to GDC_Validation_Status
dtypes: bool(1), float64(21), int64(10), object(70)
memory usage: 8.1+ MB

In [4]:
#Retrieve Y (genes_id) and xX (all other features)
Y = new_table.loc[:,["Hugo_Symbol"]].values
length = len(Y)


X = new_table.drop(["Hugo_Symbol"], axis = 1)
#nan_df = X.isna().sum().sort_values(ascending=False)
#nan_columns = X[X.columns[X.isna().any()]]
thresh = length*0.95
X  = X.dropna(axis=1,thresh=int(thresh))
X = X.interpolate(method="pad")


X = pd.get_dummies(data=X)
X

,Entrez_Gene_Id,Start_Position,End_Position,t_depth,t_ref_count,t_alt_count,n_depth,ALLELE_NUM,TRANSCRIPT_STRAND,MINIMISED,...,case_id_d9952e44-b573-4854-893e-b3bbc5287f2f,case_id_ddfdd05e-058c-4877-b389-724a6c101353,case_id_ebb834c6-374e-4077-a4ce-c74a850be358,case_id_ee6083aa-9453-44ff-8cc5-79b71fea289d,case_id_eec002c4-7602-4179-8eb3-2b0508d5ee1c,case_id_f2cc142b-9fc0-44d9-9ae3-558b4eace375,case_id_f98c183e-aaa1-40c4-83e7-c248cc3adb55,case_id_ffedc8be-1056-4205-b9d9-99b5bdb872db,GDC_Validation_Status_Unknown,GDC_Validation_Status_Valid
0,6536,44008472,44008472,103,65,38,132,1,-1,1,...,0,0,0,0,0,0,0,0,0,1
1,1263,44803280,44803280,84,51,33,112,1,1,1,...,0,0,0,0,0,0,0,0,0,1
2,199920,56740711,56740711,22,15,7,23,1,-1,1,...,0,0,0,0,0,0,0,0,1,0
3,2629,155233116,155233116,46,29,17,96,1,-1,1,...,0,0,0,0,0,0,0,0,1,0
4,83417,157581530,157581530,60,33,27,79,1,-1,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10444,6247,18642139,18642139,102,48,54,119,1,-1,1,...,0,0,0,0,0,0,0,0,1,0
10445,7317,47201524,47201524,43,32,11,47,1,1,1,...,0,0,0,0,0,0,0,0,1,0
10446,441531,77969434,77969434,205,112,93,216,1,-1,1,...,0,0,0,0,0,0,0,0,1,0
10447,9737,102657224,102657224,199,97,102,186,1,1,1,...,0,0,0,0,0,0,0,0,1,0
10448,114824,152991432,152991432,161,104,57,170,1,-1,1,...,0,0,0,0,0,0,0,0,1,0

In [5]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10449 entries, 0 to 10448
Columns: 108015 entries, Entrez_Gene_Id to GDC_Validation_Status_Valid
dtypes: bool(1), int64(10), uint8(108004)
memory usage: 1.1 GB

In [6]:
Y = LabelEncoder().fit_transform(Y.ravel())
Y

array([5426, 4497,  734, ..., 4374, 2387, 4526])

In [ ]:
scaler = StandardScaler()
X.iloc[:,1:-1] =scaler.fit_transform(X.iloc[:,1:-1])
X